<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Название фильма" name="filmName" [(ngModel)]="filmName" (keyup.enter)="getFilms()">
  </md-input-container>
</form>
{{filmName}}
  
  <br>
<md-grid-list cols="2" rowHeight="1000px">

  <div *ngIf="filmList.lenght === 0"><h2>Фильмы не найдены</h2></div>
  <md-grid-tile *ngFor="let film of filmList">
    <app-film-card [filmId] = "film.imdbID"></app-film-card>
    <!-- <md-card class="example-card" >
      <img md-card-image src="{{film.Poster}}">
      <md-card-content>
        <md-card-title>{{film.Title}}</md-card-title>
        <p>Производство: {{film.Production}}</p>
        <p>Год: {{film.Year}}</p>
        <p>Страна: {{film.Country}}</p>
        <p>Релиз: {{film.Released}}</p>
        <p> {{film.Plot}}</p>
        <p>Айди фильма: {{film.imdbID}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>Подробнее</button>
      </md-card-actions>
    </md-card> -->
  </md-grid-tile>
  
</md-grid-list>

