<app-film-search (getFilmsEvent) = "buildGaleryBySearch($event)" (selectViewEvent) = "selectCard($event)"></app-film-search>

<!-- <form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Название фильма" name="filmName" [(ngModel)]="filmName" (keyup.enter)="getFilms()">
  </md-input-container>
</form>
 {{filmName}}  -->

  
  <br>
<md-grid-list cols="2" [rowHeight]="rowHeightCange">

  <div *ngIf="filmList.lenght === 0"><h2>Фильмы не найдены</h2></div>
  <md-grid-tile *ngFor="let film of filmList">
    <app-film-card [filmId] = "film.imdbID" [visualTypeOfCard]="typeOfCard"></app-film-card>
  </md-grid-tile>
  
</md-grid-list>


<button md-raised-button class="addFilmClass" (click) = "addFilms()">Больше фильмов</button>
