.example-card {
  width: 400px;
  margin-left:50px;
}

.navigation {
 display: flex;
 justify-content: space-between;
 
}
.example-form{
    margin-bottom: 50px;
}

.addFilmClass{
  display: flex;
  justify-content: center;
}