.film-card {
  width: 400px;
  margin-left:50px;
}

.navigation {
 display: flex;
 justify-content: space-between;
 
}
.example-form{
    margin-bottom: 50px;
}

/* .film-card{
  height: 1000px;
  
  } */

/* img{
  height: 400px;
  weight: 200px;
} */