.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

.example-container {
  width: 700px;
}

.button-row {
  display: flex;
  align-items: center;
   justify-content: center; 
}
.search-component{
    background-color: #ebeef4;
    width: 100%; 
}