<div class="search-component">
<!-- <div class="container" layout="row"> -->
  
    <div class="search-element"> 
      <div class="button-row">
      <form class="form">
        <md-input-container >
          <input mdInput placeholder="Найти фильм" name="filmNameSearch"  [(ngModel)]="filmNameSearch" (keyup.enter)="getNewFilms()" (keyup)="autocomplitFilms()" [mdAutocomplete]="auto" [formControl]="stateCtrl">
        </md-input-container>
        <!-- Автокомплит -->
        
        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let state of filteredStates | async" [value]="state">
            {{ state }}
          </md-option>
        </md-autocomplete>
        
        <form [formGroup]="heroForm" novalidate>
          <div class="form-group">
            <label class="center-block">Name:
              <input class="form-control" formControlName="name">
            </label>
            <md-input-container>
               <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl" > 
            </md-input-container>
            <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let state of filteredStates | async" [value]="state">
                {{ state }} 
              </md-option>
            </md-autocomplete>
          </div>
        </form>
        <p>Test: {{stateCtrl.valueChanges}}</p>
        <p>Form value: {{ heroForm.value | json }}</p>


      </form>
      <button md-raised-button (click) = "getNewFilms()">Поиск</button>
      </div>
    </div>
    <div class="search-element">
      <md-select class="card-select" placeholder="Вид отображения" [(ngModel)]= "visualTypeOfCard" name= "visualTypeOfCard" (change)="selectNewView()" >
      <md-option [value] = "'1'">Детально</md-option>
      <md-option [value] = "'2'">Компактно</md-option>
       <!-- <md-option *ngFor="let visualTypeOfCard of visualTypeOfCards" [value]="visualTypeOfCard.value">
        {{ viewTypeOfCard.viewValue }}
      </md-option>  -->
   </md-select>  
   </div> 


  

  <!-- 1 {{filmNameSearch}} <br> -->
   
<!-- 
  </div> -->
</div>
